:root {
  --cream: #FEF9F3;
  --orange: #E8682B;
  --black: #1D1E1C;
}

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

#p5_loading {
  display: grid !important;
  place-items: center !important;
  inset: 0 !important;
  position: fixed !important;
}

.p5Canvas {
  display: block;
}

.desc {
  background: var(--black);
  color: var(--cream);
  font-size: 14px;
  padding: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
}
