html,
body {
  height: 100%
}

body {
  align-items: center;
  background: var(--cream);
  display: flex;
}

ul {
  align-items: center;
  display: flex;
  height: 50vh;
  list-style: none;
  margin: 0;
  padding: 24px;
}

li {
  display: flex;
  flex-direction: column;
  min-width: 148px;
  height: 100%;
}

.aura {
  background-image: linear-gradient(var(--cream) 50%, #FEF9F300), url(aura.jpg);
  background-position: 50% 175%;
  background-size: 500%;
  min-width: 296px;
}

.tab {
  border: 1px solid var(--orange);
  border-radius: 16px 0 16px 0;
  display: inline-block;
  padding: 4px 8px;
  width: fit-content;
}

.content {
  border-left: 1px solid var(--orange);
  flex-grow: 1;
  padding: 8px;
}
